.container-about {
  height: 1350px;
}

.about-title {
  padding-top: 50px;
}

.about_h2_close {
  position: relative;
  left: 100px;
}

.tec-box {
  width: 90%;
  height: 350px;
  border-radius: 15px;
  background: linear-gradient(135deg, #725EF2 0%, #2D2C59 100%);
  box-shadow: 0px 0px 10px 2px #725EF2;

  margin: 50px auto;

  display: flex;
  position: relative;
}

.title-about {
  position: relative;
  left: 50px;
  top: 20px;
}

.about-title-inside {
  font-size: 24px;
  font-weight: normal;
}

.about_h3_close {
  float: right;
  position: relative;
  left: 30%;
}

.grid-tec {
  position: absolute;
  top: 60%;
  left: 50%;
  display: grid;
  grid-template-areas:
    'css html js'
    'react github figma';
  row-gap: 50px;
  column-gap: 55px;
  align-content: center;
  transform: translate(-50%, -50%);
}

.css {grid-area: css;}
.html {grid-area: html;}
.js {grid-area: js;}
.react {grid-area: react;}
.github {grid-area: github;}
.figma {grid-area: figma;}

.final-menu {
  background: transparent;
  bottom: -200px;
  left: 51%;
  transform: translateX(-50%);
}

.menu-footer {
  position: absolute;
  bottom: -100px;
  left: 50%;

  transform: translateX(-50%);
}

.menu-footer > ul {
  display: flex;
}

.menu-footer > ul > li {
  display: block;
  list-style: none;
  padding: 0px 25px;
  text-align: center;
}

.menu-footer > ul > li > a {
  text-decoration: none;
  color: white;
}

