
.container_home {
  min-height: 105dvh;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.img-home,
.menu-desktop,
.contactme-home {
  display: none;
}

.center_home {
  position: relative;
  top: -25px;
}

.center_home>h1 {
  font-size: 48px;
  font-weight: 400;
}

.center_home>span {
  display: block;
  position: relative;
  font-size: 20px;
}

.html_span {
  right: 40px;
}

.body_span {
  right: 20px;
}

.h1_span {
  right: 10px;
}

.h1_close_span {
  float: right;
  left: 20px;
}

.bottom_home {
  border-radius: 15px;
  position: absolute;
  bottom: 100px;
  background: #725EF2;
  width: 338px;
  height: 53px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrow {
  position: absolute;
  bottom: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.arrow>span,
.arrow>img {
  display: block;
}

.span_scroll_arrow {
  font-size: 20px;
  padding-bottom: 8px;
}

.arrow>img {
  width: 21px;
}

.navigation {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #725EF2;
}

.not_active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2D2C59;
  border: 1px solid #725EF2;
}

.traço {
  height: 30px;
  width: 1px;
  background: white;
}

.active>a,
.not_active>a {
  text-decoration: none;
}

@media screen and (min-width: 1280px) {

  .menu-desktop {
    display: flex;
    position: relative;
    left: 50%;
    justify-content: space-around;
    width: 630px;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 999;
  }

  .menu-desktop>a {
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px;
    border-radius: 5px;
  }

  .menu-desktop>a:hover {
    background-color: #725EF2;
    transition: 0.5s ease;
  }

  .menu-desktop>a:nth-child(1) {
    background-color: #725EF2;
  }

  .menu-icon {
    display: none;
  }

  .center_home {
    right: 30%;
    top: -10px;
  }

  .img-home {
    position: absolute;
    display: block;
    left: 60%;
  }

  .center_home>h1 {
    font-size: 64px;
  }

  .container_home {
    top: -200px;
  }

  .bottom_home {
    right: 5%;
    bottom: 5%;
  }

  .contactme-home {
    position: absolute;
    display: block;
    width: 144px;
    bottom: 15%;
    left: 10%;
  }

  .btn-contact-home {
    display: flex;
    flex-direction: column;
  }

  .btn-contact-home>a {
    background-color: #725EF2;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

  .btn-contact-home>a:hover {
    background: #FFF;
    color: #725EF2;

    transition: 0.5s ease;
  }

  .span-home-btn {
    position: relative;
    right: 20%;
  }

  .span-home-btn-close {
    position: relative;
    left: 80%;
  }

  .footer_h2_close {
    width: 100px;
  }

}