.container_portfolio {
  min-height: 1208px;
}

.gif-pc {
  display: none;
}

.content_portfolio {
  position: relative;
  top: 120px;

  display: flex;
  flex-direction: column;
  align-items: start;

  height: 670px;
}

.portfolio-p>p {
  padding: 2px;
}

.portfolio-p,
.portfolio-title {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.portfolio-title {
  padding-bottom: 40px;
}

.portfolio-title-inside {
  font-weight: normal;
}

.carrousel {
  margin-top: 20px;
  height: 400px;
}

.item-carrousel {
  position: relative;
  margin: 0 auto;
  width: 95%;
  height: 380px;

  border-radius: 15px;
  background: #2D2C59;
  box-shadow: 0px 0px 10px 2px #725EF2;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-carrousel {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carrousel-title-inside {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.carrousel_h3_open,
.carrousel_h3_close,
.carrousel_p_open,
.carrousel_p_close {
  display: flex;
}

.carrousel_h3_open,
.carrousel_p_open {
  align-self: flex-start;
}

.carrousel_h3_close,
.carrousel_p_close {
  align-self: flex-end;
}

.carrousel-p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.carrousel-p>p {
  text-align: center;
}

.Rn {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

.Rn>img {
  width: 70px;
}

.btn_portfolio_container {
  width: 30%;
  margin: 0 auto;
}

.btn_check {
  text-align: center;
  display: block;
  margin: 5px auto;

  border-radius: 10px;
  background: #725EF2;
  height: 32px;
  font-size: 16px;
  border: none;

  text-decoration: none;
  color: #FFF;
  padding-top: 5px;
}

.btn_check:hover {
  background: #FFF;
  color: #725EF2;
  transition: 0.7s ease;
}

.btn_open,
.btn_close {
  position: relative;
}

.btn_open {
  right: 20px;
}

.btn_close {
  float: right;
  left: 20px;
}

.disable {
  filter: grayscale(0.9);
  width: 110%;
  padding-bottom: 5px;
}

.disable:hover {
  background-color: grey;
}

.navigation-carrousel {
  position: absolute;
  bottom: 1px;
  right: 50%;
  width: 50px;
  height: 25px;
  transform: translateX(50%);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navigation_circle {
  width: 10px;
  height: 10px;
  border: 1px solid #725EF2;
  margin: 2px;
  border-radius: 50%;
  box-sizing: border-box;
}

.navigation_active {
  background-color: #725EF2;
}

.final-menu {
  background: transparent;
  bottom: -200px;
  left: 51%;
  transform: translateX(-50%);
}

@media screen and (min-width: 1280px) {

  .container_portfolio {
    margin-bottom: 100px;
  }

  .final-menu {
    display: none;
  }

  .content_portfolio {
    margin-bottom: 150px;
  }

  h2 {
    font-size: 64px;
  }

  .portfolio-p>p {
    font-size: 24px;
    width: 50%;
  }

  .carrousel {
    width: 70%;
    margin: 10px auto;
  }

  .item-carrousel {
    height: 400px;
  }

  .port_p_close {
    left: 50%;
  }

  .gif-pc {
    display: block;
    position: absolute;
    left: 60%;
  }

  .gif-pc>img {
    border-radius: 72% 28% 77% 23% / 40% 55% 45% 60%;
    box-shadow: 0px 0px 40px #725EF2;
  }

  .Rn>img {
    width: 90px;
  }

  .carrousel-p {
    width: 300px;
  }

  .carrousel-p>p {
    width: 90%;
  }

  .title-carrousel {
    width: 250px;
  }
}