@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
  color: #fff;
}

body {
  min-height: 100vh;
  color: #FFF;
  background: linear-gradient(137deg, #101026 0%, #2D2C59 51.56%);
}